<head>
  <meta charset="utf-8">
  <title>PhotogramAuth</title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/paper/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <style>
    /* Only necessary if you are using navbar-fixed-top */
    body {
      padding-top: 80px;
    }
  </style>

  <link rel="stylesheet" media="all" href="/assets/application-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css" />
  <script src="/assets/application-f0d2b228b6051b147e7ecd3ea0c7e693d21597e2d7495a5c1fa5507ad696f08a.js"></script>
  <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="yPO+CeiCoV9gzvVt1J4Z9U23eFMD07wcxxLgELjNq4MgIBwRsue+XWSYR5RvHG5MHfcJ/6aH8fFnv5JudkmeDA==" />

  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>

<h1>
  All photos
</h1>

<a href="/photos/new">
  Add Photo
</a>

<hr>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <% @photos.each do |photo| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="/users/<%= photo.user_id %>"><%= User.find_by(id: photo.user_id).username %></a>
          <small>
            <%= photo.created_at %>
          </small>
        </h3>
      </div>

      <div class="panel-body">
        <a href="/photos/<%= photo.id %>">
          <img src="<%= photo.image %>" class="img-responsive">
        </a>

        <div>
            <% if Like.where(photo_id: photo.id).pluck(:user_id).include? current_user.id %>
              <a href="/delete_like/<%= photo.id %>" class="btn btn-link pull-right">
                <i class="fa fa-fw fa-heart"></i> Unlike
              </a>
            <% else %>
              <form action="/create_like" method="post">
              <input type="hidden" name="photo_id" value="<%= photo.id %>">
              <input type="hidden" name="user_id" value="<%= current_user.id %>">

              <button class="btn btn-link pull-right">
                <i class="fa fa-fw fa-heart-o"></i>
                Like
              </button>
              </form>
            <% end %>
          <ul class="media-list">
              <li class="media">
                <div class="media-body">
                  <h6 class="media-heading">
                    <a href="/users/<%= photo.user_id %>"><%= User.find_by(id: photo.user_id).username %></a>
                    <small>
                      <%= photo.updated_at %>
                    </small>
                  </h6>
                  <%= photo.caption %>
                </div> <!-- media-body -->
              </li>
              <% Comment.where(photo_id: photo.id).each do |comment| %>
              <li class="media">
                <div class="media-body">
                  <h6 class="media-heading">
                    <a href="/users/<%= comment.user_id %>"><%= User.find_by(id: comment.user_id).username %></a>
                    <small>
                      <%= comment.created_at %>
                    </small>
                  </h6>
                  <%= comment.body %>
                </div> <!-- media-body -->
              </li>
              <% end %>
          </ul>
        </div>
        <form action="/photos_comment" method="post">
            <input type="hidden" name="photo_id" class="form-control" value="<%= photo.id %>">
          <!-- Label and input for body -->
          <div class="form-group">
            <input id="body" name="body" class="form-control" rows="3" placeholder='Add a comment...'>
          </div>
                    <!-- Label and input for user_id -->
            <input type="hidden" name="user_id" class="form-control" value="<%= current_user.id %>">
          <button class="btn btn-block btn-outline-secondary">
            Add Comment
          </button>
        </form>
        <% if photo.user_id == current_user.id %>
        <div class="btn-group btn-group-justified">
          <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">
            <i class="fa fa-fw fa-edit"></i>
              Edit
          </a>
          <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">
            <i class="fa fa-fw fa-trash-o"></i>
              Delete
          </a>
        </div> <!-- btn-group btn-group-justified -->
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
